<h1> Asistencia por Estudiante </h1>
<mat-form-field  appearance="standard" color="accent">
  <mat-label> Buscar Estudiante </mat-label>
  <input autocomplete="off" matInput placeholder="# Carnet" #input>
</mat-form-field>
<button mat-icon-button color="accent" (click)="getData(input.value)"><mat-icon>search</mat-icon></button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="evento">
      <th mat-header-cell *matHeaderCellDef> Evento </th>
      <td mat-cell *matCellDef="let element"> {{element.evento}} </td>
    </ng-container>

    <!-- Event Name Column -->
    <ng-container matColumnDef="idEvento">
      <th mat-header-cell *matHeaderCellDef> idEvento </th>
      <td mat-cell *matCellDef="let element"> {{element.idEvento}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator  [pageSize]="5"
                 showFirstLastButtons
                 aria-label="Select page of students attendance">
  </mat-paginator>
</div>
