@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500&display=swap');

h1 {
  font-family: 'Changa', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 42px;
  margin-top: 10%;
}

:host {
  align-self: start;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

.mat-raised-button {
  width: 65%;
  margin-left: 25%;
}

.file-input {
  display: none;
}

.upload-image {
  margin-left: 20%;
}

.screen-image {
  background-size: cover;
  margin-left: 20%;
  margin-right: 20%;
  width: 450px;
  height: 300px;
}
