<div>
  <h1> Asistencia por Evento</h1>
  <mat-form-field  appearance="standard" color="accent">
    <mat-label> Buscar Evento </mat-label>
    <input  matInput autocomplete="off" placeholder="Nombre del Evento" #input>
</mat-form-field>
<button mat-icon-button color="accent" aria-hidden="search" (click)="getData()"><mat-icon>search</mat-icon></button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Carnet Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Carnet </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Student Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre Estudiante </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="5"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

